a {
    text-decoration: none;
}

body {
    max-width: 640px;
    font-weight: 700;
}

#header {
    font-family: helvetica;
    color: #444;
    font-weight: 700;
    padding-left: 270px;
    display: inline-block;
    vertical-align: top;
}

#subheader {
    color: #3f729b;
    font-size: 18px;
    font-weight: 700;
    font-family: helvetica;
    padding: 1.5em 0;
    border-bottom: #ccc solid 1px;
    border-top: #ccc solid 1px;
    text-align: center;
}

img {
    height: 120px;
    width: 120px;
    display: inline-block;
    margin: 0 1.5em;
}

#likebutton {
    display: table;
    padding: .5em 2em;
    font-size: 12pt;
    text-align: center;
    color: #8D8C91;
    background: #ECECEC;
    margin: 1em auto;
    font-family: helvetica;
    border-radius: 3px;
    display: inline-block;
}

#likebutton:hover {
    text-decoration: none;
    background: #8D8C91;
    color: #FFF;
}

#footer small {
    display: block;
    color: #ccc;
    text-align: center;
}

code {
    background: #FFF;
    white-space: pre;
    display: block;
    margin: 1.5em;
    margin-top: 0;
    overflow-x: auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 3px;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 14px;
    border-radius: 2px;
}