body {
	max-width: 640px;
	font-weight: bold;

}
#header {
	font-family: helvetica;
	color: #444;
	font-weight: bold;
	padding-left: 200px;
	display: inline-block;
	vertical-align: top;
}
#reload {
	height: 40px;
	width: 40px;
	padding-left: 300px;
	vertical-align: top;
}